.ae-editor {
    .ae-editor-header {}

    .ae-editor-content {
        --offset: 40px;

        position: relative;

        &__main {
            margin-top: 60px;
            width: 70%;
        }

        &__side {
            position: fixed;
            top: var(--offset);
            right: 0;

            width: 30%;
            height: ~"calc(100% - var(--offset))";

            box-sizing: border-box;
            padding: 10px;
            background-color: white;
            box-shadow: 0 0 5px black;
        }
    }
}