.editor{
    padding: 10px;
}

.editor-toolbar {
    border: 1px solid black;
    margin-bottom: 10px;
}

.editor-canvas {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    // line-height: 20px;

    background-color: white;


}

.ae-paragraph {
    padding: 5px 10px;

    &.focused {
        background-color: gold;
    }
}
