.ae-editor .focused {
        position: relative;
}

.ae-editor .focused:after{
    content: '';
    pointer-events: none;
    z-index: 1;
    --pos: calc(-1 * var(--highlight-border-size));
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    box-shadow: 0 0 0 var(--highlight-border-size) var(--highlight-color) inset;
}

.ae-block-url-card.focused2 {
    position: relative;

    border-color: var(--highlight-color);
}
