.ae-toolbar {
    display: flex;

    margin-bottom: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3);

    .left {
        display: flex;
        flex: 1;
    }

    .right {
        display: flex;
    }
}

.ae-toolbar-button {
    margin-right: 5px;

    &:last-child {
        margin-right: 0;
    }
}