* {
    margin: 0;
    padding: 0;

    
}

body {
    font-family: sans-serif;
}

article {
    font-size: 18px;
    line-height: 24px;
    padding: 10px 15px;
}

article h2 {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 20px;    
}

article p {
    margin-bottom: 20px;
}
article p:last-child {
    margin-bottom: 0;
}

.page {
    display: flex;
    justify-content: center;
}
.page .content {
    width: 100%;
}
